* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(236, 236, 236);
	font-family: Arial, Helvetica, sans-serif;
}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	width: 60rem;
	background-color: white;
	box-shadow: 0.4rem 0.7rem 0.5rem rgb(88, 88, 88);
}

main > form,
main > div {
	padding: 3rem 10rem;
}

header {
	display: flex;
	align-items: baseline;
	padding: 0.3rem;
	gap: 0.7rem;
}

header a {
	text-decoration: none;
	color: black;
}

header a:hover {
	text-decoration: underline;
}

.App button {
	padding: 0.6rem 1rem;
	background-color: rgb(230, 230, 230);
	border: 0.1rem solid rgb(180, 180, 180);
	border-radius: 0;
}

.App > button {
	margin: 3rem;
	width: 10rem;
	align-self: center;
}
