#Education ul {
	list-style: none;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
}

#Education li {
	display: contents;
}

#Education .buttons {
	margin-left: auto;
}

#Education label {
	margin: 0.5rem;
}

#Education > button {
	margin-top: 0.5rem;
}

.education-info {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: start;
	gap: 5rem;
	margin: 0.6rem 0;
}

.school-name {
	font-weight: 600;
}
