#Education form ul {
	list-style: none;
	display: grid;
	grid-template-columns: 10rem 1fr;
	align-items: center;
}

#Education form li {
	display: contents;
}

#Education .buttons {
	margin-left: auto;
}

#Education label {
	margin: 0.5rem;
}

#Education input {
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0.2rem;
}

#Education > button {
	margin-top: 0.5rem;
}

.education-info {
	display: grid;
	grid-template-columns: 10rem auto;
	justify-content: start;
	margin: 0.6rem 0;
}

.school-info div {
	margin-bottom: 0.3rem;
}

.school-name {
	font-weight: 600;
	color: rgb(103, 117, 139);
}

#Education .all li {
	list-style: none;
	position: relative;
	margin-top: 1rem;
}

#Education .buttons {
	position: absolute;
	top: 50%;
	right: -18%;
	transform: translate(0, -50%);
}

#Education .buttons button {
	padding: 0.5rem 0.5rem;
}
