#PersonalInfo {
	position: relative;
	color: white;
	background-color: rgb(103, 117, 139);
}

#PersonalInfo ul {
	list-style: none;
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
}

#PersonalInfo label {
	margin-right: 0.5rem;
}

.name input,
.name span {
	font-size: 2rem;
}

.name input,
.current-title input {
	width: 80%;
	display: block;
}

.right {
	text-align: end;
}

#PersonalInfo button {
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translate(0, -50%);
}

.hidden {
	display: none;
}
