#PersonalInfo {
	position: relative;
	color: white;
	background-color: rgb(103, 117, 139);
}

ul {
	list-style: none;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		'name email'
		'name phone';
	align-items: center;
}

.name {
	grid-area: name;
	align-self: center;
}

.email {
	grid-area: email;
	place-self: end right;
}

.phone {
	grid-area: phone;
	place-self: start right;
}

label {
	margin-right: 0.5rem;
}

.name input,
.name span {
	font-size: 2rem;
}

.name input {
	width: 80%;
	display: block;
}

#PersonalInfo button {
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translate(0, -50%);
}
